.products-list {
    text-align: center;
    margin-top: 20px;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color:cyan
  }
  
  .product-card h3 {
    margin-top: 0;
  }
  
  .product-card p {
    margin-bottom: 5px;
  }
  